<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll logo" href="#page-top" style="width: 180px">
                <span class="logo-img"></span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a class="page-scroll" href="#about">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Trip Planner</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Find Fun Trips</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Tours Packages</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Travel Deals</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Before You Go</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="container">
            <div class="col-md-7 col-xs-12 homeHeading">
                <h1 id="homeHeading">Make your Sri Lanka Trip</h1>
                <h1><span>Amazing</span></h1>
            </div>
            <div class="col-md-5 col-xs-12">
                <div class="home-form">
                    <!-- Nav tabs -->
                    <h6>Where would you like to go?</h6>
                    <div class="form-group make-margin">
                        <select class="selectpicker" data-style="btn-white" style="display: none;">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                        <div class="bookform form-inline h-left">
                            <div class="form-group col-md-6 col-sm-6 col-xs-12 pad-l-b">
                                <label class="lbl-head">Cities</label>
                                <input type="text" class="form-control mgn-l-l" placeholder="Ex: Kandy, Colombo, Nuwaraeliya">
                            </div>
                            <div class="from-group col-md-6 col-sm-6 col-xs-12">
                                <label class="lbl-head">Number of Days</label>
                                <button type="button" class="form-control mgn-l-l" data-toggle="dropdown" title="Max Budget">
                                    <span class="filter-option pull-left">1 Day</span>&nbsp;<span class="fa fa-angle-down"></span></button>
                                <div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu">
                                    <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Number of Days</span>">
                                        <span class="text">2 Days</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>1</span>">
                                        <span class="text">2 Days</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>2</span>">
                                        <span class="text">3 Days</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                </ul>
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12 pad-l-b">
                                <label class="lbl-head">Trip Type</label>
                                <div class="full-width">
                                    <label class="checkbox-inline"><input type="checkbox" value="">Family</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">Backpackers</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">Honeymoon</label>
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12 pad-l-b">
                                <label class="lbl-head">Activities</label>
                                <div class="full-width pad-s-b">
                                    <label class="checkbox-inline"><input type="checkbox" value="">Sightseeing</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">Beaches</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">Wildlife</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">History</label>
                                </div>
                                <div class="full-width">
                                    <label class="checkbox-inline"><input type="checkbox" value="">Hiking</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">Shopping</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">Camping</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">Whale Watching</label>
                                </div>
                            </div>


                            <!--<div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <input type="text" class="form-control hasDatepicker" placeholder="Check in" id="datepicker">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <input type="text" class="form-control hasDatepicker" placeholder="Check out" id="datepicker1">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>-->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12 pad-l-tb right">
                                <button type="submit" class="btn btn-custom btn-primary btn-block"><i class="icon-search"></i> BOOK NOW</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
</div>
</header>

<!--<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How Tripazing Helps</h2>
                <hr class="light">
                <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>-->

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How Tripazing Helps</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Choose a Holiday Destination</h3>
                    <p class="text-muted">Pick Destinations, Add Dates and Hit Plans</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3>Add Attractions to Vacation Plan</h3>
                    <p class="text-muted">Choose top attractions, Restaurants WorldWide or Add your own.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3>Finish off with booking ideal hotels</h3>
                    <p class="text-muted">Search, Compare and Book Hotels from 700,000 Hotels Worldwide.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="section_destination">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Explore Sri Lanka</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="row row_1">
            <div class="col-sm-6 hp_card_wrap">
                <div class="hp_card hp_card_l" style="background-image: url(assets/img/portfolio/thumbnails/1.jpg)">
                    <a href="/location/31397/Kyoto" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Kandy</h4>
                </div>
            </div>

            <div class="col-sm-3 hp_card_wrap">
                <div class="hp_card hp_card_s" style="background-image: url(assets/img/portfolio/thumbnails/2.jpg)">
                    <a href="/location/32708/Osaka" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Nuwaraeliya</h4>
                </div>
                <div class="hp_card hp_card_s" style="background-image: url(assets/img/portfolio/thumbnails/3.jpg)">
                    <a href="/location/8106/Tokyo" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Sigiriya</h4>
                </div>
            </div>
            <div class="col-sm-3 hp_card_wrap">
                <div class="hp_card hp_card_s" style="background-image: url(assets/img/portfolio/thumbnails/4.jpg)">
                    <a href="/location/8200/Taito" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Ella</h4>
                </div>
                <div class="hp_card hp_card_s" style="background-image: url(assets/img/portfolio/thumbnails/5.jpg)">
                    <a href="/location/8401/Minato" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Badulla</h4>
                </div>
            </div>
        </div>
        <div class="row row_2">
            <div class="col-sm-3 hp_card_wrap">
                <div class="hp_card hp_card_s" style="background-image: url(assets/img/portfolio/thumbnails/1.jpg)">
                    <a href="/location/8176/Shibuya" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Matara</h4>
                </div>
                <div class="hp_card hp_card_s" style="background-image: url(assets/img/portfolio/thumbnails/2.jpg)">
                    <a href="/location/8453/Sumida" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Galle</h4>
                </div>
            </div>
            <div class="col-sm-6 hp_card_wrap">
                <div class="hp_card hp_card_l" style="background-image: url(assets/img/portfolio/thumbnails/3.jpg)">
                    <a href="/location/25345/Urayasu" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Hambantota</h4>
                </div>
            </div>
            <div class="col-sm-3 hp_card_wrap">
                <div class="hp_card hp_card_s" style="background-image: url(assets/img/portfolio/thumbnails/4.jpg)">
                    <a href="/location/54058/Hiroshima" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Haputale</h4>
                </div>
                <div class="hp_card hp_card_s" style="background-image: url(assets/img/portfolio/thumbnails/5.jpg)">
                    <a href="/location/8113/Shinjuku" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Jaffna</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="section_trip">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Find Amazing Trips</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div id="routes-div-1" class="routes routes-div routes-div-1" style="left: 0px;">


            <div class="hp_trip-item hp_trip-item-1 col-md-3 col-sm-4 col-xs-6">
                <div class="route route_1">
                    <a href="/trip/TP00000639/awajishima+fun+5days" target="_blank">
                    </a><div class="photo"><a href="/trip/TP00000639/awajishima+fun+5days" target="_blank">
                </a><div id="carousel-1-0" class="carousel slide" data-ride="carousel"><a href="/trip/TP00000639/awajishima+fun+5days" target="_blank">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/5dd2/f19a/90e7/c5bf/107092_300.jpg');"></div>
                        </div>

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/a7fa/992e/3c05/d884/107100_300.jpg');"></div>
                        </div>

                        <div class="item active">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/e910/e10e/4c25/1fca/38953_300.jpg');"></div>
                        </div>

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/ef45/4cba/3635/4fcc/186488_300.jpg');"></div>
                        </div>

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/ee94/024a/a79d/22d0/139077_300.jpg');"></div>
                        </div>

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/9951/c8d1/77a2/153a/667898_300.jpg');"></div>
                        </div>
                    </div>
                    <!-- Controls -->
                </a><a class="left carousel-control" href="#carousel-1-0" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                    <a class="right carousel-control" href="#carousel-1-0" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </div>
                </div>

                    <a href="/trip/TP00000639/awajishima+fun+5days" target="_blank">
                        <div class="info_wrap">
                            <div class="info">
                                <div class="top">
                                    <div class="author">
                                        <div class="profile_photo" style="background-image: url(assets/'https://img.triplisher.com/USERIMG/178.jpg');"></div>
                                        <p>蕭丁</p>
                                    </div>
                                    <div class="day">
                                        <p>5<br><span>Days</span></p>
                                    </div>
                                </div>
                                <div class="trip_name">
                                    <p>awajishima fun 5days</p>
                                </div>
                                <div class="trip_startDate">
                                    <p>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        <span class="">From</span>
                                        13 Apr 2017                                                                                                            </p>
                                </div>
                                <hr>
                                <div class="trip_tag">
                                    <p>
                                        <span class="hp_icon icon-tag"></span>
                                        Osaka, Kobe, Awaji, Sumoto, Minamiawaji, Naruto                                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="hp_trip-item hp_trip-item-2 col-md-3 col-sm-4 col-xs-6">
                <div class="route route_2">
                    <a href="/trip/TP00000441/test+new" target="_blank">
                    </a><div class="photo"><a href="/trip/TP00000441/test+new" target="_blank">
                </a><div id="carousel-1-1" class="carousel slide" data-ride="carousel"><a href="/trip/TP00000441/test+new" target="_blank">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/f6cf/3fc0/1c68/fc67/465125_300.jpg');"></div>
                        </div>

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/01b6/d6fc/8cb2/7b06/465102_300.jpg');"></div>
                        </div>

                        <div class="item active">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/cb45/a111/0562/681f/38190_300.jpg');"></div>
                        </div>

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/9cb0/5f99/e868/97f0/186576_300.jpg');"></div>
                        </div>

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/7771/a584/4b0b/1fac/38264_300.jpg');"></div>
                        </div>

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/d363/4501/fdda/2090/103820_300.jpg');"></div>
                        </div>
                    </div>
                    <!-- Controls -->
                </a><a class="left carousel-control" href="#carousel-1-1" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                    <a class="right carousel-control" href="#carousel-1-1" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </div>
                </div>

                    <a href="/trip/TP00000441/test+new" target="_blank">
                        <div class="info_wrap">
                            <div class="info">
                                <div class="top">
                                    <div class="author">
                                        <div class="profile_photo" style="background-image: url(assets/'https://img.triplisher.com/USERIMG/101.jpg');"></div>
                                        <p>Tsen Lin</p>
                                    </div>
                                    <div class="day">
                                        <p>2<br><span>Days</span></p>
                                    </div>
                                </div>
                                <div class="trip_name">
                                    <p>test new</p>
                                </div>
                                <div class="trip_startDate">
                                    <p>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        <span class="">From</span>
                                        22 Mar 2017                                                                                                            </p>
                                </div>
                                <hr>
                                <div class="trip_tag">
                                    <p>
                                        <span class="hp_icon icon-tag"></span>
                                        Osaka, Sakai                                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="hp_trip-item hp_trip-item-3 col-md-3 col-sm-4 col-xs-6">
                <div class="route route_3">
                    <a href="/trip/TP00000575/hyogo%2Fsimane%2Ftodori++trip++6days" target="_blank">
                    </a><div class="photo"><a href="/trip/TP00000575/hyogo%2Fsimane%2Ftodori++trip++6days" target="_blank">
                </a><div id="carousel-1-2" class="carousel slide" data-ride="carousel"><a href="/trip/TP00000575/hyogo%2Fsimane%2Ftodori++trip++6days" target="_blank">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/a5ae/1a2f/c31a/af2f/107121_300.jpg');"></div>
                        </div>

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/1c7c/4c39/5df6/c4c2/144064_300.jpg');"></div>
                        </div>

                        <div class="item active">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/5995/b51c/9ed0/7b01/262141_300.jpg');"></div>
                        </div>

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/a7fa/992e/3c05/d884/107100_300.jpg');"></div>
                        </div>

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/e910/e10e/4c25/1fca/38953_300.jpg');"></div>
                        </div>

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/35bf/a1f0/6949/e6e2/507781_300.jpg');"></div>
                        </div>
                    </div>
                    <!-- Controls -->
                </a><a class="left carousel-control" href="#carousel-1-2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                    <a class="right carousel-control" href="#carousel-1-2" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </div>
                </div>

                    <a href="/trip/TP00000575/hyogo%2Fsimane%2Ftodori++trip++6days" target="_blank">
                        <div class="info_wrap">
                            <div class="info">
                                <div class="top">
                                    <div class="author">
                                        <div class="profile_photo" style="background-image: url(assets/'https://img.triplisher.com/USERIMG/178.jpg');"></div>
                                        <p>蕭丁</p>
                                    </div>
                                    <div class="day">
                                        <p>6<br><span>Days</span></p>
                                    </div>
                                </div>
                                <div class="trip_name">
                                    <p>hyogo/simane/todori  trip  6days</p>
                                </div>
                                <div class="trip_startDate">
                                    <p>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        <span class="">From</span>
                                        03 Apr 2017                                                                                                            </p>
                                </div>
                                <hr>
                                <div class="trip_tag">
                                    <p>
                                        <span class="hp_icon icon-tag"></span>
                                        Osaka, Kobe, Himeji, Okayama, Kurashiki, Matsue, Yasugi, Tottori, Miyazu, Maizuru, Ayabe, Kyoto                                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="hp_trip-item hp_trip-item-4 col-md-3 col-sm-4 col-xs-6">
                <div class="route route_4">
                    <a href="/trip/TP00000562/Osaka" target="_blank">
                    </a><div class="photo"><a href="/trip/TP00000562/Osaka" target="_blank">
                </a><div id="carousel-1-3" class="carousel slide" data-ride="carousel"><a href="/trip/TP00000562/Osaka" target="_blank">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/8d3b/0009/8fbc/f5cd/465111_300.jpg');"></div>
                        </div>

                        <div class="item">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/7771/a584/4b0b/1fac/38264_300.jpg');"></div>
                        </div>

                        <div class="item active">
                            <div class="item_photo" style="background-image: url(assets/'https://img.triplisher.com/PIC/2e90/712a/9832/2409/107625_300.jpg');"></div>
                        </div>
                    </div>
                    <!-- Controls -->
                </a><a class="left carousel-control" href="#carousel-1-3" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                    <a class="right carousel-control" href="#carousel-1-3" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </div>
                </div>

                    <a href="/trip/TP00000562/Osaka" target="_blank">
                        <div class="info_wrap">
                            <div class="info">
                                <div class="top">
                                    <div class="author">
                                        <div class="profile_photo" style="background-image: url(assets/'https://img.triplisher.com/USERIMG/103.jpg');"></div>
                                        <p>Yuan Yuan Cheng</p>
                                    </div>
                                    <div class="day">
                                        <p>1<br><span>Days</span></p>
                                    </div>
                                </div>
                                <div class="trip_name">
                                    <p>Osaka</p>
                                </div>
                                <div class="trip_startDate">
                                    <p>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        <span class="">From</span>
                                        01 Mar 2017                                                                                                            </p>
                                </div>
                                <hr>
                                <div class="trip_tag">
                                    <p>
                                        <span class="hp_icon icon-tag"></span>
                                        Osaka                                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="section_channel">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Travel Deals & Special Offers</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>

        <div class="row group group_1">
            <div class="col-md-3 hp_block_wrap">
                <div class="title hp_block_s ">
                    <a href="/search?c=1&amp;f=197" target="_blank"></a>
                    <h3>Tours</h3>
                </div>
                <div class="hp_block_1 hp_block_l" style="background-image: url(assets/img/portfolio/thumbnails/1.jpg)">
                    <a href="/location/153351" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Kandy Temple</h4>
                    <p>Kandy, Sri Lanka</p>
                </div>
            </div>
            <div class="col-md-3 hp_block_wrap">
                <div class="hp_block_2 hp_block_l" style="background-image: url(assets/img/portfolio/thumbnails/2.jpg)">
                    <a href="/location/24639" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Badulla 9 Arch</h4>
                    <p>Badulla</p>
                </div>

                <div class="hp_block_3 hp_block_s" style="background-image: url(assets/img/portfolio/thumbnails/3.jpg)">
                    <a href="/location/20212" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Sigiriya</h4>
                    <p>Matale</p>
                </div>
            </div>
            <div class="col-md-3 hp_block_wrap">
                <div class="hp_block_4 hp_block_s" style="background-image: url(assets/img/portfolio/thumbnails/4.jpg)">
                    <a href="/location/31906" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Relaxation</h4>
                    <p>Ella</p>
                </div>

                <div class="hp_block_5 hp_block_l" style="background-image: url(assets/img/portfolio/thumbnails/5.jpg)">
                    <a href="/location/158385" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Test</h4>
                    <p>Colombo</p>
                </div>
            </div>
            <div class="col-md-3 hp_block_wrap">
                <div class="hp_block_6 hp_block_l" style="background-image: url(assets/img/portfolio/thumbnails/6.jpg)">
                    <a href="/location/157415" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Colombo</h4>
                    <p>Colombo</p>
                </div>

                <div class="hp_block_7 hp_block_s" style="background-image: url(assets/img/portfolio/thumbnails/1.jpg)">
                    <a href="/location/159943" target="_blank"></a>
                    <div class="hp_overlay"></div>
                    <h4>Temple</h4>
                    <p>Kandy</p>
                </div>
            </div>
        </div>
    </div>
</section>


<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Visit Tripazing's Amazing Blog</h2>
            <a href="#" class="btn btn-default btn-xl sr-button">Read Now!</a>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:your-email@your-domain.com">feedback@para.com</a></p>
            </div>
        </div>
    </div>
</section>


<!--
<div>
  <h1>Tripazing.com</h1>
</div>

<div>
  <h3>How Tripazing Helps</h3>
</div>

<div>
  <h3>Explore Sri Lanka</h3>
  <h4>
    {{#link-to 'city' class="button"}}
    Kandy
    {{/link-to}}
  </h4>
</div>-->
